*,
*:before,
*:after {
  /* margin: 0; */
  box-sizing: border-box;
  /* margin-top: 0px; */
}

.header {
  font-family: courier;
  text-align: justify;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 25px;
  background-color: white;
  margin-top: 0px;
  color: black;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

body,html {
    height: 100%;
    background-color: white;
    margin-left: 0px;
    background-position: top;
    /* font-family: courier; */

}




#scroller {
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  overflow-x: scroll;
  white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
    /* margin-left: -4px; */

    top: 100px;
}

.scrolling-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;

  width: 25vw;
  margin-left: -4px;
  overflow: scroll;
  white-space: normal;
}



.Name{
  position: relative;
  width: 25vw;
  display: inline-block;
  margin-top: 20px;
  background-color: #fff;
  font-size: 18px;
  font-family: courier;
  text-align: center;
  margin-left: -4px;
  z-index: 99999;
  position: absolute;
}

.spacer {
  margin-top: 68px;
}


.textbutton {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-family: courier;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.textbutton:hover{
  /* color: yellow; */
}

.contentright {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  /* background-color: #f1f1f1; */
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-family: courier;
  width: 100%;
  margin-right: 10px;
  border: none;
  text-align: right;
}


.contentleft {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  /* background-color: #f1f1f1; */
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-family: courier;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  text-align: left;
}


.contentcenter {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  /* background-color: #f1f1f1; */
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-family: courier;
  width: 100%;
  margin-right: 10px;
  border: none;
  text-align: center;
}
