*,
*:before,
*:after {
  /* margin: 0; */
  box-sizing: border-box;
  /* margin-top: 0px; */
}

.header {
  font-family: courier;
  text-align: justify;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 25px;
  background-color: white;
  margin-top: 0px;
  color: black;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

body,html {
    height: 100%;
    background-color: white;
    margin-left: 0px;
    background-position: top;
    /* font-family: courier; */

}

img {
  margin-top: 15px;
  margin-left: 30px;
  width: 80%;
  background-position: center;

}


#scroller {
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  overflow-x: scroll;
  white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
    /* margin-left: -4px; */

    top: 100px;
}

.scrolling-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;

  width: 25vw;
  margin-left: -4px;
  overflow: scroll;
  white-space: normal;
}



.Name{
  width: 25vw;
  margin-top: 15px;
  margin-left: 100px
  background-color: #fff;
  font-size: 18px;
  font-family: courier;
  line-height: 57px;
  text-align: center;

}



#Racheltext1 {
  position: relative;
  margin-top: 12px;
  background-color: #fff;
  font-size: 20px;
  line-height: 18px;
  font-family: courier;
  text-align: center;
}

.racheltext{
  position: relative;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 22px;
  font-family: courier;
  text-align: center;
}
.racheltext:hover{
color: blue;
}

.racheltextbutton {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  font-family: courier;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.racheltextbutton:hover{
color: blue;
}

.contentrachel {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  /* background-color: #f1f1f1; */
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-family: courier;
  width: 100%;
  margin-right: 10px;
  border: none;
  text-align: right;
}


#rachel {
  position: absolute;
  margin: auto;
  margin-top: 300px;
  z-index: 99;
  left: 1%;
  width: 25vw;
  display: none;
  background-position: center;

}

  .monicatext{
    position: relative;
    margin-top: 12px;
    background-color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-family: courier;
    text-align: center;
  }
  .monicatext:hover{
    color: blue;
    }


  .joeytext{
    position: relative;
    margin-top: 12px;
    background-color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-family: courier;
    text-align: center;
  }
  .joeytext:hover{
    color: blue;
    }


.chandlertext{
  position: relative;
  margin-top: 12px;
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: courier;
  text-align: center;
}
.chandlertext:hover{
  color: blue;
  }


.phoebetext{
  position: relative;
  margin-top: 12px;
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: courier;
  text-align: center;
}
.phoebetext:hover{
  color: blue;
  }

.rosstext{
  position: relative;
  margin-top: 12px;
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: courier;
  text-align: center;
}
.rosstext:hover{
  color: blue;
  }
